.product--wrapper {
    list-style: none;
    text-align: center;
    color: #d6e0e9;
}

.product--title {
    font-size: 100%;
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #343444;
}

.product_img--wrapper {
    width: 10rem;
}

.product--wrapper img {
    width: 100%;
    display: block;
}

.product--quantity {
    padding: 0.2rem 0.4rem;
    color: #c8d1da;
    background-color: #343444;
    font-size: 90%;
}

.product--price {
    padding: 0.2rem 0.4rem;
    color: #c8d1da;
    background-color: #343444;
    font-size: 90%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.product_buttons--wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}       