.order--wrapper {
    list-style: none;
    text-align: center;
    color: #d6e0e9;
    margin-bottom: 1.5rem;
    /* border: 1px #343444 solid; */
    border-radius: 5px;
}

.order_pupils-info--wrapper {
    background-color: #343444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.5rem;
}

.order--pupils_name {
    font-size: 100%;    
    font-weight: bold;
    /* padding: 0.5rem 1rem; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #343444;
}

.order--pupils_username {
    font-style: italic;
}

.order_product-info--wrapper {
    background-color: #343444;
}

.order_img--wrapper {
    width: 10rem;
}

.order--wrapper img {
    width: 100%;
    display: block;
}

.order_product--name {
    font-weight: bold;
    margin-bottom: 0.5rem
}

.order_buttons--wrapper {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}