.questions_page--question {
    cursor: pointer;
    margin: 1rem;
}
.question__link {
    color: white;
    text-decoration: none;
}

.questions_page--question__text {
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #464353;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}