.question-page--answers-title {
    margin-top: 1rem;
    color: white;
    font-style: italic;
}

.question_page--votes {
    padding-left: 0.5rem;
}

.question_answers_votes {
    display: flex;
    align-items: center;
}