/*$background-color: #201e2b;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

*:focus {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #201e2b /*$background-color*/;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #464353 inset !important;
  -webkit-text-fill-color: #d6e0e9 !important;
  -webkit-text-size-adjust: none;
  transition: background-color 5000s ease-in-out 0s;
}

/* Layout */

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nowrap {
  flex-wrap: nowrap;
}

.spinner--wrapper {
  width: 80px;
  height: 80px;
}

/* Text */

.bold {
  font-weight: bold;
}

/* HTTPs */

.responseMsg {
  color: #d6e0e9;
  position: absolute;
  top: calc(100% + 10px);
}

/* ========== FORMS =========== */

.form--wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px;
  transform: translateX(-50%) translateY(-50%);
  transition: all 300ms;
  border-radius: 5px;
}

.custom_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-input {
  width: 100%;
  background-color: #464353;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 1rem;
  color: #d6e0e9;
  /* Change the white to any color */
}

.small-button:disabled {
  cursor:not-allowed;
  background-color: #ccc;
}

.small-button {
  outline: none;
  border: none;
  padding: 0.2rem 0.4rem;
  margin: 0.1rem 0.2rem;
  font-weight: 300;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
}

.button-edit {
  background-color: rgb(233, 197, 131);
  color: black;
}

.button-delete {
  background-color: rgb(233, 131, 131);
  font-size: 80%;
}

.button-save {
  background-color: rgb(148, 233, 131);
}

.button-submit {
  background-color: #3e3572;
  color: #d6e0e9;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 100%;
  font-weight: 300;
}

.button-submit:disabled {
  cursor: not-allowed;
  background-color: #666666;
  color: rgb(194, 194, 194);
}

.datePicker {
  margin-bottom: 1rem;
}

select {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: #464353;
  color: #d6e0e9;
}

/* ---------- Components ----------- */

/* Page-wrapper */
.custom-page--wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
/* Title */
.custom-page--title {
  padding: 0.5rem 2rem;
  margin-bottom: 2rem;
  font-size: 150%;
  text-align: center;
  background-color: #3e3572;
  width: fit-content;
  color: #d6e0e9;
  border-radius: 5px;
}
.custom-page--create_link {
  color:white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: #3e3572;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* QUESTIONS */

.edit-page--answers_title {
  padding: 0.5rem 1rem;
  margin: 2rem 2rem;
  font-size: 120%;
  text-align: center;
  background-color: #3e3572;
  width: fit-content;
  color:#d6e0e9; 
  border-radius: 5px;
}
